html{
  font-size: 10px;
}
body{
  position: relative;
  padding: 0;
  margin: 0;
  @include ff-roboto;
  color: $white;
  background-color: $gray;
  min-height: 100vh;
  min-width: 100vw;
}
.div_100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ovh{
  overflow: hidden;
}
.bg-cover{
  @include bg-cover();
}
.bg-contain{
  @include bg-contain();
}
.video_bg{
  position: absolute;
  top: 50%;
  left: 50%;
  @include translateXY();
}

.inputs_frame{
  text-align: left;
  .inputs_frame-title{
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  button{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  .input_frame{

    &+.input_frame{
      margin-top: 1.5rem;
    }
    label{
      display: block;
      color: $white;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    input{
      padding: 1rem 2rem;
      font-size: 1.5em;
      &::placeholder{
        color: rgba(#000, 0.5);
      }
      &:focus-visible{
        outline: 0;
      }
    }
  }
}

.z1{
  z-index: 1;
}

.z2{
  z-index: 2;
}

.z3{
  z-index: 3;
}